@media (max-width: 637px) {
    #todo .posts-container {
        display: block;
    }

    #todo .post {
        width: 100%;
        margin: 1rem 0 0;
    }
}

@media (min-width: 769px) {
    #todo .nav-link {
        margin-right: 2rem;
    }
}

@media (max-width: 768px) {
    #todo .nav-link {
        margin-top: 1rem;
    }
}

@media (max-width: 1024px) {
    #todo .posts-container {
        flex-wrap: wrap;
    }

    #todo .post {
        min-width: 45%;
    }
}