/* Global */

#todo * {
    margin: 0;
    padding: 0;
}

#todo header {
    background-color: #2c3e50;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1.75rem;
}

#todo a {
    text-decoration: none;
}

#todo header a {
    color: #fff;
    background-color: #416c97;
    padding: .5rem 1rem;
    border-radius: 20px;
}

#todo header a:hover {
    background-color: #375a7c;
}

header li {
    line-height: 0;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 2rem;
}

#logo2 {
    max-width: 100%;
    display: none;
}

#todo footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

#todo footer a {
    display: inline-flex;
}

#todo footer a:hover {
    text-decoration: underline;
}

/* Páginas "Inicio" y "Posts" */

.hero {
    height: 50svh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.featured-title {
    text-align: center;
}

#todo .button {
    display: inline-block;
    color: #fff;
    background-color: #416c97;
    padding: .5rem 1rem;
    border-radius: 20px;
    margin-top: 1rem;
}

#todo .button:hover {
    background-color: #375a7c;
}

#todo .featured-posts {
    background-color: #f2f2f2;
    padding: 2rem 0;
}

#todo .posts-container {
    max-width: 1200px;
    display: flex;
    margin: auto;
    justify-content: center;
}

#todo .post {
    background-color: #fff;
    margin: 1rem;
    width: 30%;
    border-radius: 20px;
}

#todo .post h3 {
    margin: 1rem;
    font-size: 1.5rem;
}

.post img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    align-self: center;
}

#todo .post p {
    margin: 1rem;
}

#todo .post .date {
    color: #aaa;
    font-size: .9rem;
}

/* Páginas "Acerca de" y "Contacto" */

#todo .text h2 {
    padding: 1rem;
}

#todo .text p {
    padding: 0 1rem 0 1rem;
    text-align: justify;
}

#faq {
    margin: 1rem;
}

#faq .accordion-button {
    background-color: #416c97;
}

#faq .accordion-button:hover {
    background-color: #375a7c;
}

#faq .accordion-body {
    margin: 0 1rem 1rem;
}

#todo form {
    max-width: 600px;
    margin: 1rem auto 0;
}

#todo input[type="text"], #todo input[type="email"], #todo textarea {
    display: block;
    width: 100%;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#todo label {
    margin-top: 1rem;
}

#todo textarea {
    resize: none;
}

#todo button {
    display: block;
    margin: 1rem auto;
    padding: .5rem 1rem;
    border: none;
    border-radius: 20px;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
}

#todo button:hover {
    background-color: #3e8e41;
}

/* Modal */

#leerMas .modal-header {
    margin: 0 .5rem;
}

#leerMas .modal-body {
    margin: .5rem;
}

#leerMas #asdBoton {
    margin: 1rem 0;
    background-color: transparent;
}