/* Global */

#todo header {
    background-color: #2c3e50;
}

#todo .nav-link {
    color: #fff;
    background-color: #416c97;
    padding: .5rem 1rem;
    border-radius: 20px;
}

#todo .nav-link:hover {
    background-color: #375a7c;
}

#todo .navbar-toggler {
    background-color: #416c97;
}

#logo {
    max-width: 224px;
}

#todo a {
    text-decoration: none;
}

#todo p:last-child {
    margin-bottom: 0;
}

#todo footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

#todo footer p {
    margin: 0;
}

/* Páginas "Inicio" y "Posts" */

.hero {
    height: 50svh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}

.featured-title {
    text-align: center;
}

#todo .button {
    display: inline-block;
    color: #fff;
    background-color: #416c97;
    padding: .5rem 1rem;
    border-radius: 20px;
    margin-top: 1rem;
}

#todo .button:hover {
    transition: 300ms;
    background-color: #375a7c;
}

#todo .featured-posts {
    background-color: #f2f2f2;
    padding: 2rem 0;
}

#todo .posts-container {
    max-width: 1200px;
    display: flex;
    margin: auto;
    justify-content: center;
}

#todo .post {
    background-color: #fff;
    margin: 1rem;
    width: 30%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}

#todo .post h3 {
    margin: 1rem;
    font-size: 1.5rem;
}

.post img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

#todo .post p {
    margin: 1rem;
}

#todo .date {
    color: #aaa;
    font-size: .9rem;
}

/* Páginas "Acerca de" y "Contacto" */

#todo form {
    max-width: 600px;
    margin: auto;
}

#todo input[type="text"], #todo input[type="email"], #todo textarea {
    display: block;
    width: 100%;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#todo label {
    margin-top: 1rem;
}

#todo textarea {
    resize: none;
}

.enviar {
    display: block;
    margin: 1rem auto;
    padding: .5rem 1rem;
    border: none;
    border-radius: 20px;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
}

.enviar:hover {
    background-color: #3e8e41;
}

.elMain {
    padding: 1.25rem;
}

/* Páginas de posts */

.elMain2 {
    background-color: #f2f2f2;
    padding: 2rem 1rem;
}

.elMain2 .container {
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    padding: 0;
    border-radius: 20px;
}

.elMain2 .container-fluid {
    padding: 0 1rem 1rem;
}

.titular {
    height: 250px;
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-position: center;
}

.post .titular {
    height: 200px;
}

.elMain2 h2 {
    margin-top: 1rem;
}