/* Estilos para que funcione el sitio web */

@media (min-width: 375px) {
  #logo {
    width: 225px;
  }
}

@media (max-width: 1023px) {
  #btnSwitch2 {
    display: none;
  }
}

/* Estilos de posts individuales */

@media (min-width: 426px) {
  .titular {
    height: 225px;
  }
}

@media (min-width: 1024px) {
  #btnSwitch1 {
    display: none;
  }

  .titular {
    height: 300px;
  }
}

/* Estilos del navbar */

@media (max-width: 768px) {
  .nav-link {
    margin-top: 1rem;
  }
}

@media (min-width: 769px) {
  .nav-link {
    margin-right: 2rem;
  }
}
